/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

/* This was removed from preflight, but turning it back on for better testing */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.language-id {
  display: none;
}

/* Style lines highlighted in code blocks */
.line.highlight {
  @apply border-l-4 border-sky-500 bg-sky-500 bg-opacity-20
}